.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('@/assets/page/animation/shop-background.gif') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  &Shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}
