.videoContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.radialOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 70%, rgba(0, 0, 0, 0.9) 100%);
  backdrop-filter: blur(15px);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  height: 100%;
  &Title {
    text-align: start;
    max-width: 700px;
    color: white !important;
    margin-bottom: 150px !important;
    margin: 0;
  }

  &Button {
    width: 250px;
    height: 50px;
    margin-top: 50px;
  }
}
